/* Carrossel de Imagens */
.carousel img {
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

/* Ajustes Gerais */
.main {
  margin-left: 220px;
  padding: 20px;
}

.welcome-message {
  max-width: 100%;
}

/* Ajustes Responsivos */
@media (max-width: 767.98px) {
  .carousel img {
      height: 200px;
  }
}
